body {
	background: #ffffff; 
	margin: 0px 50px;
	color: #ffffff;
	line-height: 18px;
	font-family: Tahoma, sans-serif;
}

a {
	color: #ffffff;
}

.header-wrap {
	position: relative;
	height: 100px;
	margin: 10px 0px;
	background: #03292A;
	font-size: 14px;

	& .logo-nav {
		position: absolute;
		display: block;
		left: 0px;
		top: 10px;

		& img {
			width: 100%;
		}
	}
	
	& .main-navigation {
		position: absolute;
		bottom: 0;
		left: 10px;		
		& [class^=nav-item] a{
			padding: 0;
		}

		a:hover {
			color: #ffffff;
		}

		& .nav-item {
			font-weight: bold;
			margin-right: 2px;
			background: #076766;
			padding: 10px 30px;
		}
	}

	& .dropdown-menu {
		border: none;
		border-radius: 0;
		margin: 0;
		font-size: 12px;
		line-height: 12px;
		background: #076766;
		padding: 4px;
		a {
			color: #fff;
			margin: 4px 16px 4px 4px;

			&:hover {
				background: none;
			}
		}
	}
}

.logo-fixed {
	position: fixed;
	display: block;
	top: 50px;
	left: 0;

	& img {
		width: 100%;
	}
}

.main-wrap { 
	background: #1E3A3B;
	display: flex;
	padding: 0px;

	& .main-heading {
		font-size: 48px;
	}

	& .index-home {
		border: solid 10px #076766;
		font-size: 12px;
	}

	& .horizont-line {
		height: 4px;
	    width: 100%;
		background: #1e3a3a;
		display: inline-flex;
		content: " ";

		:after { width:100%; height:1px; background: #616f6f; content:"" }
	}

	& .article-panel {
		background: #03292A;
		border: solid 10px #02544E;

		& h2 {
			font-size: 16px;
			text-transform: uppercase;
			margin-top: 14px;
		}

		& .share-wrap {			
			flex-direction: row;

			& a {
				margin-right: 18px;
				display: inline-flex;

				&:hover {
					color: #ffffff;
				}
			}
		}

		.categories {
			font-size: 16px;
			line-height: 21px;

			ul {
				list-style: none;
				margin-top: 10px;
				padding: 0px;

				a {
					text-decoration: underline;

				}
			}
		}

		#my-carousel {
			margin-top: 10px;

			li {
				max-width: 3px;
				border-radius: 50%;				
			}

			& .carousel-indicators {
				bottom: -30px;
			}

			img {
				width: 100%;
			}
		}
		
	}
}

.footer-wrap {
	background: #076766;
	position: relative;
	text-align: left;
	font-size: 14px;
	line-height: 18px;
	padding: 10px;
	margin: 10px 0px;

	& .copyright {
		display: inline;
	}

	& .footer-navigation {
		position: absolute;
		display: inline;
		right: 10px;
		
		& a {
			margin: 5px;
			text-decoration: underline;
		}
	}
}




